body {
	background-color: antiquewhite;
}

.Pomodoro {
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}
.Pomodoro header {
	text-align: center;
	height: 20% vh;
	background-color: yellow;
	font-size: 3rem;
	width: 100%;
}

@media (max-width: 540px) {
	.Pomodoro header {
		font-size: 1.8rem;
	}
}
