body {
	background-color: antiquewhite;
}

.Pomodoro {
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: center;
}
.Pomodoro header {
	text-align: center;
	height: 20% vh;
	background-color: yellow;
	font-size: 3rem;
	width: 100%;
}
