/*#2ecc71*/
body {
	background-color: #232323;
}

.Pomodoro {
	margin-top: 3rem;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	color: white;
}
.Pomodoro header {
	text-align: center;
	height: 20% vh;
	font-size: 3rem;
	width: 100%;
}

@media (max-width: 540px) {
	.Pomodoro header {
		font-size: 1.8rem;
	}
}
