.Circle {
	margin: 20px auto;
	border: 2px solid black;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Clock {
	color: blue;
	font-size: 5rem;
}

button {
	font-size: 2rem;
	background-color: transparent;
	outline: none;
	border: none;
	display: inline-block;
	cursor: pointer;
}

@media (max-width: 540px) {
	.Circle {
		width: 200px;
		height: 200px;
	}
	.Clock {
		font-size: 3rem;
	}
	button {
		font-size: 1.5rem;
	}
}
